<p-table [value]="users?.data" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th style="width:8em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td style="text-align:center">
        <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="editUser(user.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator [rows]="users?.per_page" [totalRecords]="users?.total" (onPageChange)="paginate($event)"></p-paginator>
